#header{
  background-image: url("../images/backgrounds/h_img.jpg") !important;
  background-size: cover;
  color: white;
  text-align: center;
}
h1{
  text-align: center;
  color: white;
}
h5{
  text-align: center;
}
.box1{
  text-align: center;
}
.box2{
  background-image: url("../images/backgrounds/s_image.jpg");
  text-align: center;
  color: white;
}
.contact{
  background-image: url("../images/backgrounds/c_image.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
}
.container{
  text-align:center;
  padding: 30px
}
.row{
  margin: 10px
}
.portfolio{
  text-align: center;
  border-left: 10px #fff;
  border-right: 10px #fff;
  border-bottom: 10px #fff;
}
.mainForm{
  width: 650px;
  margin: auto;
}
.form input[type = "text"]{
  width: 750px;
  opacity: 0%;
}
.footer{
  text-align: center;
}
#design_hide{
  display: none;
}
#dev_hide{
  display: none;
}
#product_hide{
  display: none;
}
